<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
</head>

<body>
        <% include ../partials/navbar %> 
        <% include ../partials/flash-messages %> 
        <%- body -%>
</body>

</html>